/* Something new: Customer Properties aka CSS variables */

:root {
    /* colors */
    --main-color: white;
    --trim-color: grey;

    /*sizes */
    --trim-size: 10px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--main-color);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol {
    margin: revert;
    padding: revert;
}

/* Grid Elements */
.grid-container {
    display: grid;
    grid-template-columns: 20% auto 20%;
    width: 70%;
    height: 800px;
    margin: 0 auto;
    column-gap: var(--trim-size);

    /* colors */
    background-color: var(--trim-color);
    border: var(--trim-size) solid var(--trim-color);

    box-shadow: -2px 2px 3px black;
}

.grid-container > .grid-item {
    box-shadow: inset -2px 2px 3px black;
    padding: 5px;
}

.grid-container-left {

}

.grid-container-left > .grid-item {
    padding: 0px;
}

.grid-container-center {
    
}

.grid-container-right {
    
}

/* Game Display */
.gameButtons {
    width: 100%;
    height: 50px;
    border-radius: 5px;
}

/* Formatting */
p {
    display: block;
    margin: 5px;
}
